<section class="gallery-section py-5">
  <div class="container">
    <!-- Heading -->
    <div class="text-center mb-5">
      <small class="gallery-tag text-black"> — Tealogy Cafe — </small>

      <h2 class="gallery-title text-black">
        A Journey Through Taste & Elegance
      </h2>

      <p class="gallery-desc text-black">
        Explore a curated selection of culinary creations where exceptional
        flavors, artistic presentation, and premium ingredients come together.
      </p>
    </div>

    <!-- Loader -->
    <div *ngIf="isLoading" class="text-center py-5">Loading gallery...</div>

    <!-- Error -->
    <div *ngIf="error" class="text-danger text-center">
      Failed to load gallery
    </div>

    <!-- MASONRY GRID -->

    <div class="lux-gallery-grid" *ngIf="!isLoading && !error">
      <div class="lux-gallery-card" *ngFor="let item of galleryItems">
        <img
          [src]="item.image_url || 'assets/default.jpg'"
          [alt]="item.title"
        />

        <div class="lux-overlay">
          <div class="lux-content">
            <h3>
              {{ item.title }}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
