/* =========================
   MAIN CONTENT (RIGHT SIDE)
========================= */
.main-content {
  margin-left: 250px; /* 🔥 sidebar width ke equal */

  min-height: 100vh;
  background: #f8f8f8;
}

/* =========================
   MOBILE FIX
========================= */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}
